@import "../../styles/variables.scss";
.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 19px 0;
  background-color: #fff;
  z-index: 1;
  padding-left: 48px;
  padding-right: 48px;
  .logoBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &Logo {
      transition: $transition;
      &:hover {
        transition: $transition;
        transform: scale(1.03);
      }
    }
    &Decription {
      position: relative;
      letter-spacing: 0.92px;
      text-transform: lowercase;
      color: $grey;
      margin-left: 35px;
      &::before {
        content: " ";
        background: $grey;
        width: 1px;
        height: 30px;

        top: -8px;
        left: -16px;

        position: absolute;
      }
    }
  }
  .absolute {
    position: relative;
  }
  .links {
    display: flex;
    justify-content: space-between;
  }
  .linksBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Element {
      position: relative;
      color: $dark-grey;
      font-size: 16px;
      font-weight: 700;
      transition: $transition;
      padding: 6px 16px;
      gap: 10px;
      border-radius: 8px;
      &:hover {
        background-color: #f3f3f4;
      }
      &:nth-last-child(1) {
        margin-right: 24px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    display: flex;
    align-items: center;
    .links {
      height: 90vh;
      flex-direction: column;
      justify-content: space-between;
    }
    .linksBlock {
      margin-top: 64px;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      &Element {
        margin-bottom: 24px;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
      }
    }
    .mobileBtn {
      z-index: 3;
      margin-top: 60%;
    }
  }
}

@media (max-width: 767px) {
  .container {
    background-color: #000;
    max-width: 767px;
    .logoBlock {
      &Decription {
        display: none;
      }
    }
  }
}
