h1 {
  color: #fff;
  font-family: "Nekst-Black";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
}

h2 {
  font-size: 54px;
  line-height: 90%;
}
h3 {
    font-family: 'Nekst-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
}
