.title {
  font-family: "Nekst-Black";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  max-width: 750px;
  color: #111111;
  margin-bottom: 32px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between  !important;
    align-items: center;
    
    &Text{
        margin-top: 54px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 32px;
        align-items: center;
       
    }
}