@import "../../../../styles/variables.scss";
.calculatorInput {
  display: flex;
  flex-direction: column;
  max-width: 427px;
  position: relative;
  &Title {
    color: $dark-grey;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .container{
    position: relative;
  }
  &Field {
    
    background-color: $dark-white;
    color: $dark-grey;
    font-family: "Nekst-Black";
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    border-radius: 16px;
    padding: 16px 24px;
  }
  &Range {
    -webkit-appearance: none;
    width: 80%;
    height: 2px;
    background-color: $orange;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    position: relative;
    margin-left: 24px;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $orange;
      cursor: pointer;

      left: calc(50% - 10px);
    }
  }
  &Extra{
    margin-top: 10px;
    margin-right: 24px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: #999;
    font-weight: bold;
    color: $dark-grey;
    font-family: "Nekst-Black";
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
  }
}
